# ----------------------
# Flask
# ----------------------
flask

# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
# ----------------------
# CHat
# ----------------------
Fabric
Flask-SQLAlchemy
Flask-WTF
Jinja2
MarkupSafe
Pillow
SQLAlchemy
WTForms
Werkzeug
argparse
coverage
ecdsa
itsdangerous
mechanize
nltk
paramiko
requests
ChatterBot