Flask>=0.11
chatterbot>=0.7.1
asn1crypto==0.24.0
blis==0.2.4
certifi==2020.11.8
chardet==3.0.4
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
click==7.1.2
configparser==3.5.0b2
cryptography==2.6.1
cymem==2.0.4
en-core-web-sm==2.1.0
entrypoints==0.3
enum34==1.1.6
funcsigs==1.0.2
heroku==0.1.4
idna==2.10
ipaddress==1.0.17
joblib==0.14.1
keyring==17.1.1
keyrings.alt==3.1.1
mathparse==0.1.2
murmurhash==1.0.4
nltk==3.5
numpy==1.16.6
pathlib==1.0.1
Pint==0.9
plac==0.9.6
preshed==2.0.1
pycrypto==2.6.1
PyGObject==3.30.4
pymongo==3.11.1
python-dateutil==1.5
python-espeak==0.5
pyttsx3==2.7
pytz==2020.4
pyxdg==0.25
PyYAML==3.13
regex==2020.11.13
requests==2.25.0
SecretStorage==2.3.1
six==1.12.0
spacy==2.1.9
SQLAlchemy==1.2.19
srsly==1.0.4
thinc==7.0.8
tqdm==4.53.0
urllib3==1.26.2
virtualenv==15.1.0
wasabi==0.8.0